.footer{
    background-color: #253238;
    color: #f4f4f4;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}
.social-media-links i{
    margin: 1.5rem;
    padding: 0;
}
#special{
   position: relative;
    bottom:0;
    width:100%;
}
@media (max-width: 1024px){
    #special{
        margin-top: 10em;
        position: relative;
    }
}
